<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Painel Econômico</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Painel Econômico</h1>

<div class="menu">

<a href="/consultar">Consultar</a>
<a href="/editar_selic">Editar Selic</a>
<a href="/graficos">Gráficos</a>
<a href="/editar_inadimplencia">Editar Dados</a>
<a href="/correlacao">Correlação</a>

</div>

<div class="card">

<form method="POST" action="/upload" enctype="multipart/form-data">

<label>Arquivo de Inadimplência</label>
<input type="file" name="arquivo_inad">

<label>Arquivo Selic</label>
<input type="file" name="arquivo_selic">

<input type="submit" value="Upload">

</form>

</div>

</div>

</body>
</html>
